.scoreboard {
    position: absolute;
    z-index: 1;
    right: -30px;
    background-color: #1f1f1f;
    padding: 25px;
    border-radius: 0.6rem;
}

.highscoreitem {
    /* position: absolute; */
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 4px;
    color: white;
    width: 250px;
    width: 100%;
    
}

.highscorename {
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.highscoretime {
    font-weight: 300;
    text-align: right;
}